doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Prescripciones
    link(rel="stylesheet", type="text/css", href="../estilo.css")
  body
    header
      .container
        h1 Panel de Prescripciones
        nav
          ul
            li
              a(href="/prescripcion" class="btn") Nueva Prescripcion

    main
      .container
        h2 Prescripciones realizadas
        //Aca se listaran los pacientes del medico
    footer
      .container
        p Derechos de autor © 2024. Todos los derechos reservados.